@font-face {
    font-family: "elegance";
    src: url("fonts/Soft_Elegance.ttf");
}
/* @font-face{
    font-family: "kgp";
    src: url("font/kgp.tff");
} */

body {
    /* background-color: rgba(9, 0, 49, 0.918); */
    background-image: url("images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    color: antiquewhite;
    font-family: "elegance";
}
header {
    position: sticky;
    top: 0px;
    z-index: 99;
    transition: 0.5s;
}
/* h2, h3, h4, h5, h6{
    font-family: "kgp";
} */
.menu {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.partMenu {
    flex: 1 1;
    margin-left: 5px;
}
.whiteTheme {
    background-color: rgba(255, 255, 255, 0.178);
    color: black;
}
.Fake {
    flex: 3 1;
}
.partMenu img {
    background-color: white;
    width: auto;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.8s;
    box-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
}
.partMenu img:hover {
    transform: translate(0px, 10px);
    transition-duration: 0.5s;
}
.partMenu:hover p {
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    display: block;
    position: relative;
    opacity: 1;
    text-align: center;
    transition-duration: 0.5s;
    top: 20px;
    transform: translate(20px, 0px);
}
.textMenu {
    display: block;
    position: relative;
    opacity: 0;
    transition-duration: 0.5s;
    top: 20px;
    right: 20px;
}

#lfac {
    padding: 10px;
    background-color: rgb(43, 0, 161);
    display: inline-block;
    /* border: 1px solid white; */
    border-radius: 100px 10px / 100px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    transition-duration: 0.5s;
}
#lfac:hover {
    transform: translate(0px, -5px);
    transition-duration: 0.5s;
}

#imgTom {
    width: auto;
    height: 250px;
    border: 20px solid rgb(28, 1, 92);
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition-duration: 0.5s;
}

#imgTom:hover {
    transform: translate(0px, -5px);
    transition-duration: 0.5s;
}
.textIco {
    display: inline-block;
}

/*
LIST LIST LIST LIST LIST LIST LIST LIST LIST LIST 
*/
.skillsPart ul {
    /* background-color: rgba(14, 0, 77, 0.918); */
    /* margin: 5px; */
    border-radius: 20px;
}
.skillsPart ul li {
    display: block;
    padding: 0.2em 0.2em 0.2em 2em;
    *padding: 0.2em;
    margin: 0.5em 0;
    background: rgb(2, 73, 179);
    color: white;
    text-decoration: none;
    box-shadow: inset 0.5em 0 black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.skillsPart ul li:hover {
    box-shadow: inset 2em 0 black;
    font-weight: bold;
}

/* CARD */
.card:hover{
    transform: translate(0px, 10px);
    transition-duration: 0.5s;
}
.card{
    transition-duration: 0.8s;
}

/* CONTACT */

.contactPart{
    text-align: center;
}
.contactPart p{
    font-style: italic;
}
.contactPart img{
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}


[class*="reveal-"]{
    opacity: 0;
    transform: translateY(+30px);
}

.reveal-1{
    transition: 0.1s;
}
.reveal-2{
    transition: 0.2s;
}
.reveal-3{
    transition: 0.3s;
}
.reveal-4{
    transition: 0.4s;
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0px);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

/*
MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY 
MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY 
*/
@media (max-width: 600px) {
    .partMenu img {
        background-color: white;
        width: auto;
        height: 40px;
        padding: 5px;
        border-radius: 8px;
        transition-duration: 0.8s;
    }
    .menu {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }
    .partMenu {
        flex: 1 1;
        margin-left: 1px;
    }
    .titlePart {
        text-align: center;
    }
    .textIco {
        display: none;
    }
    body{
        background-image: url("images/background.jpg");
        background-attachment: fixed;
        background-position: center;
        color: antiquewhite;
        font-family: "elegance";
    }
}
