#profilPhoto{
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    position: absolute;
    top: 25px;
    right: 80px;
}
.entete{
    background-color: rgba(8, 0, 83, 0.137);
}
h1, h2, h3, h4, h5, h6, p{
    color: rgb(24, 24, 24);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.technos .row{
    /* margin-bottom: 10px; */
}

.card-title, .jumbotron h4, .jumbotron h3{
    font-family: 'Courier New', Courier, monospace;
}
.container{
    background-color: rgba(0, 0, 0, 0.050);
}
.title{
    
}

.infos a{
    margin-right: 20px;
}

.technos{
    background-color: rgba(0, 68, 255, 0.116);
}

.exp{
    background-color: rgba(9, 255, 0, 0.11);
}
.btnInfo{
    margin: 5px;
}

.texteOp{
    margin-top: 10px;
}
footer{
    background-color: rgb(177, 177, 177);
    color: rgb(63, 63, 63);
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 500px){
    #profilPhoto{
        display: none;;
    }
}